<h2>Add a review for your <%= @bicycle.city.name %> trip</h2>

<%= link_to @bicycle.title, bicycle_path(@bicycle) %>

<%= form_for [@user, @trip] do |f| %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.collection_radio_buttons :rating,  %>
  </div>

  <div class="action-field">
    <%= f.submit "Add review" %>
  </div>

<% end %>

<p>Rating:</p>

<p>Review:</p>
