<h2>Rent this bicycle</h2>
<%= link_to @bicycle.title, bicycle_path(@bicycle) %> at £<%= @bicycle.price %> per day

<%= form_for [@bicycle, @trip], url: bicycle_trips_path(@bicycle) do |f| %>

  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </div><br>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </div><br>

  <div class="field-action">
    <%= f.submit "Rent this bicycle" %>
  </div>

<% end %>
