<h2>Your <%= @trip.bicycle.city.name %> trip</h2>

<p><%= link_to @trip.bicycle.title, bicycle_path(@trip.bicycle) %></p>

<p>Start date: <%= @trip.start_date.to_formatted_s(:long) %> </p>
<p>End date: <%= @trip.end_date.to_formatted_s(:long) %></p>

<% if @trip.rating %>
  Rating: <%= @trip.rating %>
  Review: <%= @trip.review %>
<% else %>
  <p><button type="button" name="review-button"><%= link_to "Add a review", edit_user_trip_path(@trip.renter, @trip) %></button></p>
<% end %>
