<h2><%= @user.full_name %></h2>

<h4>Your last trips</h4>

<ul>
  <% @user.reservations.each do |resa| %>
    <li><%= link_to "Your #{resa.bicycle.city.name} trip of #{resa.start_date.to_formatted_s(:long)}", user_trip_path(@user, resa) %></li>
  <% end %>
</ul>

<% if @user.reservations.empty? %>
  You haven't booked any trip yet...
<% else %>
  <%= link_to "See all your trips...", user_trips_path(@user) %>
<% end %>

<h4>Your bicycles</h4>

<ul>
  <% @user.bicycles.each do |bicycle| %>
    <li><%= link_to bicycle.title, user_bicycle_path(@user, bicycle) %></li>
  <% end %>
</ul>

<% if @user.bicycles.empty? %>
  You haven't got any bicycle to rent...
<% else %>
  <%= link_to "See all your bicycles...", user_bicycles_path(@user) %>
<% end %>

<p><%= link_to "Add a bicycle", new_user_bicycle_path(@user) %></p>
