<h2>Edit this bicycle</h2>

<%= form_for [@user, @bicycle] do |f| %>

  <%= render partial: "bicycles/bicycle_form", locals: {f: f} %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country, value: @bicycle.country.name %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, value: @bicycle.city.name %>
  </div>

  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood, value: @bicycle.neighborhood.name %>
  </div>

  <div class="field_action">
    <%= f.submit %>
  </div>

<% end %>
