<% if @city %>

  <% if @bicycles.empty? %>
    <p>There are no bicycles listed in <%= @city.name %> yet...</p>
  <% else %>
    <ul>
      <% @bicycles.each do |bicycle| %>
        <li><%= link_to bicycle.title, bicycle_path(bicycle) %></li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to "Back to #{@city.name}", city_path(@city) %>

<% elsif @user %>

  <% if @bicycles.empty? %>
    <% redirect_to user_path(current_user) %>
  <% else %>
    <ul>
      <% @bicycles.each do |bicycle| %>
        <li>
          <%= link_to bicycle.title, user_bicycle_path(@user, bicycle) %> <br>
          Number of trips: <%= bicycle.trips.count %> <br>
          Average rating: <%= bicycle.average.round(2) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p><%= link_to "Add a bicycle", new_user_bicycle_path(@user) %></p>

  <p><%= link_to "Back to your account", user_path(current_user) %></p>

<% end %>
