<h2>New bicycle</h2>

<%= form_for [@user, @bicycle] do |f| %>

  <%= render partial: "bicycles/bicycle_form", locals: {f: f} %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </div>

  <div class="field-action">
    <%= f.submit %>
  </div>

<% end %>
