<h2>New bicycle</h2>

<section class="new_bicycle bicycle-user-id" data-bicycle-user-id=<%=@user.id %>>

<%= form_for [@user, @bicycle] do |f| %>

  <%= render "bicycles/bicycle_form", f: f %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </div>

  <div class="field-action">
    <%= f.submit %>
  </div>

<% end %>

</section>
