<% if @user && @user == current_user %>
  <p><button type="button" name="edit-button"><%= link_to "Edit this bicycle", edit_user_bicycle_path(@user, @bicycle) %></button></p>
<% end %>

<h2><%= @bicycle.title %></h2>

<h4>
  <%= link_to @bicycle.neighborhood.name, city_neighborhood_path(@bicycle.neighborhood.city, @bicycle.neighborhood) %>,
  <%= link_to @bicycle.city.name, city_path(@bicycle.city)%>
</h4>

<p>Rating: <%= @bicycle.average %></p>
<p>Price: £<%= @bicycle.price %> / day</p>
<p>Type: <%= @bicycle.bicycle_type %></p>
<p>Colour: <%= @bicycle.colour %></p>
<p>Size: <%= @bicycle.size %></p>

<div>
  Size Chart: <br>
  <ul>
    <li>Small: 45-50cm frame - Suits people 1.45-1.60m</li>
    <li>Medium: 50-55cm frame - Suits people 1.60-1.75m</li>
    <li>Large: 55-60cm frame - Suits people 1.75-1.90m</li>
  </ul>
</div>

<p><%= @bicycle.description %></p>

<p>Owner: <%= @bicycle.owner.full_name %></p>

Reviews:

<ul>
  <% @bicycle.trips.each do |trip| %>
    <li><%= trip.review %></li>
  <% end %>
</ul>

<% if !logged_in? %>
  Please <%= link_to "login", login_path %> to rent this bicycle
<% else %>
  <p><button type="button" name="book-button"><%= link_to "Rent this bicycle", new_bicycle_trip_path(@bicycle) %></button></p>
<% end %>
