<h2><%= @bicycle.title %></h2>
<h4><%= @bicycle.neighborhood.name %></h4>

<p><%= @bicycle.bicycle_type %></p>
<p><%= @bicycle.colour %></p>
<p><%= @bicycle.size %></p>
Size Chart here
<p><%= @bicycle.description %></p>

<%= @bicycle.owner.username %>
