<h2><%= @city.name %></h2>

<h4>A selection of neighborhoods for your trips</h4>

<ul>
  <% @city.neighborhoods.each do |nghb| %>
    <li><%= link_to nghb.name, city_neighborhood_path(@city, nghb) %></li>
  <% end %>
</ul>

<% if @city.neighborhoods.empty? %>
  No neighborhoods have been listed for <%= @city.name %> yet...
<% else %>
  <%= link_to "See all neighborhoods...", city_neighborhoods_path(@city) %>
<% end %>


<h4>A selection of bicycles in the city</h4>

<ul>
  <% @city.bicycles.each do |bicycle| %>
    <li><%= link_to bicycle.title, bicycle_path(bicycle) %></li>
  <% end %>
</ul>

<% if @city.bicycles.empty? %>
  No bicycles have been listed for <%= @city.name %> yet...
<% else %>
  <a href="/cities/<%= @city.id %>/bicycles" data-id="<%= @city.id %>" class="city_bicycles">See all bicycles...</a>
<% end %>

<p><%= link_to "Back to all cities", cities_path %></p>
