<!DOCTYPE html>
<html>
  <head>
    <title>ShareMyBike2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <% if logged_in? %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Signup", signup_path %>
      <%= link_to "Login", login_path %>
    <% end %>
    <%= yield %>

    <div>
      <% if !!current_user %>
        You are logged in as: <%= current_user.full_name %>
      <% end %>
    </div>
  </body>
</html>
